<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <header>
      <%- style %>
      <script src="/js/jquery-1.10.2.js"></script>
    </header>
      <%- include('./top_menu') %>      
    </div>

    <%- body %>
  </body>
  
</html>