<form action="work_regist" method="post">
  <input name="title" placeholder="제목을 입력하세요.">
  <textarea name="content" placeholder="내용을 입력하세요." rows="5" cols="50"></textarea>
  <button type="submit">등록</button>
</form>